*{
    font-family: Merge One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body{
    margin: 0;
}

/*==============================*/

#background-container{
    background: url("/media/img/stockholm.jpg");
    background-size: cover;
    background-position: center;
    height: 100svh;
}

/*==============================*/
/*============ Nav =============*/
/*==============================*/

/* Heading, meny */
header{
    display: flex;
    justify-content: center;
}

nav{
    width: 100vw;
    height: 67px;
    padding: 00 5vw ;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content:space-between;
    align-items: baseline;
}

nav h1{
    color: #393939;
    font-family: Kodchasan, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* The list part with links, about weather and cities */
nav #menu{
    /* background-color: pink; */
    padding-left: 0;
    display: flex; /*Makes the list aligned*/
    gap: 8px;
    padding-top: 20px;
    list-style-type: none;
}

a{
    color: #393939;
    font-family: Kodchasan, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 16px;
}

/*==============================*/
/*========= INTRO TEXT =========*/
/*==============================*/

#cities-text-container span{
    white-space:nowrap;
}

/* Hela första sidan förutom naven */
#citiesService-container{
    /* background-color: rgb(27, 86, 86); */
    height: 90svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 530px;
}

#cities-text-container {
    /* background-color: rgb(154, 112, 216); */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
    justify-items:end;
    }

/* Cities service -  Title/heading container*/
.cities-title{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.cities-heading1, .cities-heading2{
    /* background-color: papayawhip; */
    color: #393939;
    font-family: Jura;
    font-size: 70px;
    line-height:54px;
}
.cities-heading2{
    align-self: flex-end;
}

p{
    /* background-color: rgb(197, 170, 170); */
    margin-top: 0.75rem;
    color: #000;
    width: 90vw; /*KONSTIGT*/
    font-family: Jura;
    font-size: 24px;
    padding: 0;
    flex-grow: 1;
    margin-bottom: auto;
}

/*==============================*/
/*==============================*/
/*==============================*/

/* */
/* Eller bara form */
#cities-form1{
    /* background-color: rgb(113, 174, 227); */
    width: 100%;
    margin-top: auto;
}

/* Description text*/
legend{
    font-family: MergeOne, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input, #search{
    /* color: rgba(175, 33, 33, 0.5); */
    background: rgba(255, 255, 255, 0.835);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: 1px solid #FFF;
    border-radius: 24px;
    width: 82%;
    max-width: 426px;
    padding: 8px 40px 8px 30px;
    margin: 10px 00;
    /* margin-bottom: 3vh; */
    font-family: MergeOne, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: block;
    position: relative;

}

/* Drop-down field searching for one or all cities*/
#search{
    background: rgba(255, 255, 255, 0.937);
    padding-right: 10px;

}

input:focus{
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.678);
}

#search-container{
    background-color: rgba(255, 218, 185, 0.761);
    display: flex;
    align-content: baseline;
    justify-content: space-between;

}

button{
    /* background-color: transparent; */
    /* color: rgba(0, 0, 0, 0.347); */
    /* align-self: baseline;
    justify-self: flex-end; */
    /* position: absolute; */
    /* top: 29px; */
    /* z-index: 2; */
    /* top:2vh; */
    /* left: 289px; */
     /* left: 80vw; */
     /* margin: 10px; */

    width: 47px;
    height: 47px;
    border-radius: 15px;
    cursor: pointer;
    border: none;

}

button:hover{
    color: black;
}


/*==============================*/
/*========= Responsive =========*/
/*==============================*/

 @media screen and (max-width: 373px) {

    #menu a{

        font-size: 15px;
    }
}

@media screen and (max-width: 373px) {

    #menu a{

        font-size: 15px;
    }
}

@media  screen and (min-width: 400px) {

nav h1{

    background-color: aquamarine;
}

.cities-title{
    background-color: violet;
    max-width: 398px;
    /* align-content: center; */
}
.cities-heading1, .cities-heading2{
    font-size: 6.5em;
}


}

@media  screen and (min-width: 700px) {

    .cities-title{
        background-color: violet;
        width: 70vw;
        /* align-content: center; */
    }
    .cities-heading1, .cities-heading2{
        font-size: 100px;
    }
}


/*==============================*/
/*============ FONTS ===========*/
/*==============================*/

@font-face {
    font-family: Kodchasan;
    src: url(/media/fonts/Kodchasan/Kodchasan-Light.ttf);
}

@font-face {
    font-family: MergeOne;
    src: url(/media/fonts/MergeOne_FontFamily/MergeOne400.ttf);
}


@font-face {
    font-family: Jura;
    src: url(/media/fonts/Jura/Jura-VariableFont_wght.ttf)
}
